services:
    cl_mailer.type_registry:
        public: false
        class: CL\Mailer\TypeRegistry

    cl_mailer.message_resolver:
        public: false
        class: CL\Mailer\MessageResolver
        arguments:
            - '@cl_mailer.type_registry'
            - '@translator'
            - '@templating'

    cl_mailer.driver.swiftmailer:
        public: false
        class: CL\Mailer\Driver\SwiftmailerDriver
        arguments:
            - '@swiftmailer.mailer.default'

    cl_mailer.mailer:
        public: false
        class: CL\Mailer\Mailer
        arguments:
            # driver can be overridden by compiler pass
            - '@cl_mailer.message_resolver'
            - '@cl_mailer.driver.swiftmailer'
